{% set title="List the game you'd like us to play!" %}

{% extends "base.html" %}

{% block content %}
  <h1> Game suggestions </h1>

<table>
  <tr>
    <th> Title </th>
    <th> Platform </th>
    <th> On sale? </th>
    <th> Price </th>
    <th> Discount% </th>
    <th> Added by </th>
    <th> Sale ends UTC </th>
    <th> Comments </th>
    <th> Edit </th>
    <th> Delete </th>
  </tr>
{% for game in games %}
  <tr>
    <td>  {{ game.title }} </td> 
    <td>  {{ game.platform }} </td>
    <td>  {{ game.onsale }} </td>
    <td>  {{ game.price }} </td>
    <td>  {{ game.discount }} % </td>
    <td>  {{ game.bywhom }} </td>
    <td>  {{ game.sale_ends_in_UTC }} </td>
    <td>  {{ game.comment }} </td>
    <td>  <a href="/game/{{ game.id }}/edit">Edit Entry</a></td>
    <td>  <a href="/game/{{ game.id }}/delete">Delete</a></td>
  </tr>
  {% endfor %}
</table>  
{% endblock content %}
